<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <main>
    <div class="container-md">
      <!-- Content here -->
      <div class="row mt-5">
        <div class="col-sm text-center">
          <h3>News AggreGator!</h3>
        </div>
      </div>
      <form action="/news" method="POST">
        <div class="row mb-1 mt-2">
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="search"
              name="search"
              placeholder="Enter Search String"
              required
            />
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-dark btn-block" width="100%">
              Search
            </button>
          </div>
        </div>
        <div class="form-group row mt-3">
          <label
            for="sort_by"
            class="col-md-1 filter_labels align-self-center text-right h5"
            >Sort by:
          </label>
          <div class="col-md-3">
            <select
              class="form-control"
              id="sort_by"
              name="sort_by"
              aria-label="Default select example"
            >
              <option disabled value="relevancy">-- Select one --</option>
              <option selected value="date">Date</option>
              <option value="relevancy">Best Match</option>
              <option value="rank">Higher Ranked Sources First</option>
            </select>
          </div>
          <label
            for="topic"
            class="col-md-1 filter_labels align-self-center text-right h5"
            >Topic:
          </label>
          <div class="col-md-3">
            <select
              class="form-control"
              id="topic"
              name="topic"
              aria-label="Default select example"
            >
              <option disabled value="all">-- Select one --</option>
              <option selected value="all">All</option>
              <option value="news">News</option>
              <option value="sport">Sport</option>
              <option value="tech">Tech</option>
              <option value="world">World</option>
              <option value="finance">Finance</option>
              <option value="politic">Politics</option>
              <option value="business">Business</option>
              <option value="economics">Economics</option>
              <option value="entertainment">Entertainment</option>
            </select>
          </div>

          <label
            for="last_n_days"
            class="col-md-1 filter_labels align-self-center text-right h5"
            >Last:
          </label>
          <div class="col-md-3">
            <select
              class="form-control"
              id="last_n_days"
              name="last_n_days"
              aria-label="Default select example"
            >
              <option disabled value="empty">Default (7 days)</option>
              <option selected value="3">3 days</option>
              <option value="10">10 days</option>
              <option value="30">30 days</option>
              <option value="90">3 months</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row mt-3">
        <div class="rounded result_container" id="result_container">
          <% articles.forEach(function(article) { %>
          <div class="post_container mb-3">
            <div class="row">
              <div class="col-3 align-self-center text-center">
                <img
                  src="<%= article.article_media %>"
                  class="ms-3 article_media"
                  alt="article_media"
                />
              </div>
              <div class="col-9 mb-3 mt-3">
                <h3 class="title"><%= article.title %></h3>
                <i
                  ><b
                    ><u>
                      Published By - <%= article.author %> <br />
                      On - <%= article.published_date %> <br />
                      Score - <%= article.score %>
                    </u></b
                  ></i
                >
                <p class="summary mt-2"><%= article.summary %></p>
                <a href="<%= article.article_link %>" target="_blank"
                  >Continued Here » <%= article.article_link %></a
                >
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </main>
</body>

<footer><%- include('../partials/footer'); %></footer>
